*{
    padding: 0;
    margin: 0;
}

#bodyHome{
    background-color: rgb(29, 0, 49);
    background-image: url(../imgs/nissanR32.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 0%;
}

header{
    background-image: url(../imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#bodyGallery{
    background-image: url(../imgs/neonLetters.jpg);
    background-size: 100%;
}

#cuerpo1{
    color: white;
    text-align: center;
    position: relative;
    top: 40px;
}

#cuerpo1 p{
    font-family:'Courier New', Courier, monospace;
}

#cuerpo1 h1{
    color: salmon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cuerpo1 h2{
    color: salmon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#mainContainer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu ul li{
    font-family: cursive;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
}

#menu ul li a{
    color: salmon;
    text-decoration: none;
}

#menu ul li a:hover{
    color: crimson;
}

#imgTable{
    margin-left: auto;
    margin-right: auto;
}

.imgs:hover{
    opacity: 0.3;
    transition: .5s ease;
    opacity: 0;
}

.imgs{
    position: relative;
    margin-left: 5%;
    border-radius: 10px;
    width: 290px;
    height: 270px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border: 5px solid #0000009d;

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text{
    position: absolute;
    color: black
    margin-left: 100px;
    margin-bottom: 100px;
}

.tittle{
    font-size: 20px;
}
