*{
    padding: 0;
    margin: 0;
}

#bodyHome{
    background-color: rgb(29, 0, 49);
    background-image: url(../imgs/nissanR32.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 0%;
}

header{
    background-image: url(../imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#bodyGallery{
    background-image: url(../imgs/neonLetters.jpg);
    background-size: 100%;
}

#bodyAbout{
    background-image: url(../imgs/supra1.jpg);
    background-size: 50%;
}

#cuerpo1{
    color: white;
    text-align: center;
    position: relative;
    top: 40px;
}

#cuerpo1 p{
    font-family:'Courier New', Courier, monospace;
}

#cuerpo1 h1{
    color: salmon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cuerpo1 h2{
    color: salmon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#mainContainer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu ul li{
    font-family: cursive;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
}

#menu ul li a{
    color: salmon;
    text-decoration: none;
}

#menu ul li a:hover{
    color: crimson;
}

#mainContainerAbout h1{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}

#mainContainerAbout p{
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
}

#imgTable{
    margin-left: auto;
    margin-right: auto;
}

#imgEncabezado{
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgs:hover{
    /* opacity: 0.3;
    transition: .5s ease;
    opacity: 0; */
    transform:scale(1.15);
}

.imgs{
    position: relative;
    border-radius: 10px;
    width: 280px;
    height: 260px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border: 5px solid #0000009d;

    transition: .5s ease;
}

.tittle{
    font-size: 20px;
}
