*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(37, 1, 63) !important;
    background-image: url(../imgs/nissanR32.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 0%;
}

header{
    background-image: url(../imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#cuerpo1{
    color: white !important;
    text-align: center;
}

#cuerpo1 h1{
    color: salmon;
}

#cuerpo1 h2{
    color: salmon;
}

#mainContainer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu ul li{
    font-family: cursive;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
}

#menu ul li a{
    color: salmon;
    text-decoration: none;
}

#menu ul li a:hover{
    color: crimson;
}

.tittle{
    font-size: 20px;
}